.faq{
    margin-top: 10px;
    margin-bottom 10px;
    padding: 10px;
    line-height: 1.5;
}

.question{
    color: #bbb;
    font-weight: bold;
}
.answer{

}
.answer::before{
    content: '\2192 ';
}

#content-block{
    padding-top: 20px;
}

form{
    text-align: right;
}
form input[type='email'],
form textarea{
    display:block;
    width: 100%;
    margin: 20px 0px;
    padding: 10px 16px;
    border: 1px solid #eee;
    border-radius: 4px;
}
