<html>
<head>
    <title>Robocup 2016</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/faqs.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="/home">Home</a>
            </div>
            <div class="title">Robocup 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="page-title">
                Frequently Asked Questions (FAQs)
            </div>
            <div class="faqs">
                <div class="faq">
                    <div class="question">
                        1. Why are there so many noobs around me?
                    </div>
                    <div class="answer">
                        well the answer is pretty obvious, you are a noob too.
                    </div>
                </div>
                <div class="faq">
                    <div class="question">
                        1. What is Lorem Ipsum?
                    </div>
                    <div class="answer">
                        Lorem Ipsum is the default filler text that is used on millions of web pages. It is a useful thing in the sense that it fills the space but not so much because it doesn’t make any sense to a regular user.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-block">
        <div class="container">
            Copyright (c) 2016 Robotics club, Central Campus, Pulchowk. All Rights Reserved.
        </div>
    </div>
</body>
</html>
