<html>
<head>
    <title>Robocup 2016</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="/rules">Rules &amp; Details</a>
                <a class="menu-item" href="/faqs">FAQs</a>
            </div>
            <div class="title">Robocup 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="msg">
                Comming soon!
            </div>
        </div>
    </div>
    <div id="footer-block">
        <div class="container">
            Copyright (c) 2016 Robotics club, Central Campus, Pulchowk. All Rights Reserved.
        </div>
    </div>
</body>
</html>
