<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Robocup 2016</title>
    {% include 'inc.html' %}
    <link rel="stylesheet" type="text/css" href="{% url 'css/home.css' %}">
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="{% url 'rules' %}">Rules &amp; Details</a>
                <a class="menu-item" href="{% url 'faqs' %}">FAQs</a>
            </div>
            <div class="title">IoE Robocon 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <p>
                IOE has been organizing different ROBOTICS events in the past.
                National Robotic Competitions(Robocup Nepal, 7 times on different theme),
                Workshop on Robotics and Automation were the few events that were helpful
                to the Robotics enthusiasts.
            </p>
            <p>
                This year Center for Applied Research and Development(CARD) of Institute
                of Engineering(IOE) is teaming up with Robotics Club,Pulchowk Campus to
                organize a National Robotics Competition. This year the theme for Robotic
                Contest will be "JOURNEY TO MUSTANG". The contest shall take place between
                the undergraduate students of college/university/polytechnic of the nation.
                The contest will be held in June,2016.
            </p>
            <p class="msg">
                The site is currently under construction, some functionality might not work.
            </p>
            <!-- <div class="msg">
                Under Construction!
            </div> -->
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
