<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Robocup 2016</title>
    {% include 'inc.html' %}
    <link rel="stylesheet" type="text/css" href="{% url 'css/home.css' %}">
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="{% url 'rules' %}">Rules &amp; Details</a>
                <a class="menu-item" href="{% url 'faqs' %}">FAQs</a>
            </div>
            <div class="title">Robocup 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="msg">
                Comming soon!
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
