<html>
<head>
    <title>Robocup 2016</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/rules.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="/home">Home</a>
            </div>
            <div class="title">Robocup 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="page-title">
                        Rules &amp; Details
                    </div>
                    <div class="rules">
                        Please read the following rules carefully. They contain critical information about the competition.
                        You can also download the <a href="#">pdf version</a> of rules. If you still have confusions, you
                        may want to checkout <a href="/faqs">FAQs</a>.
                        <div class="rule">
                            <div class="heading">Rule #1</div>
                            <div class="content">You can choose to generate as many paragraphs you want and decide if you want to insert paragraph tags. While generating the text, you can instantly preview it and make any changes you want. Once it looks good, click generate and use it wherever you want. Nothing fancy or revolutionary but a nice break from the default Lorem Ipsum.</div>
                        </div>
                        <div class="rule">
                            <div class="heading">Rule #2</div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                            </div>
                        </div>
                        <div class="rule">
                            <div class="heading">Rule #3</div>
                            <div class="content">
                                <p>
                                    Yippiyo fo shizzle mah nizzle fo rizzle, mah home g-dizzle dolizzle sit amizzle, i'm in the shizzle adipiscing elizzle.
                                    Nullizzle we gonna chung velizzle, fo shizzle mah nizzle fo rizzle, mah home g-dizzle gangster, own yo' quizzle,
                                    gravida vizzle, pimpin'. Pellentesque yo mamma tortor. Shizznit erizzle. Yippiyo at dolizzle tellivizzle turpis
                                    tempizzle yo mamma. Maurizzle pellentesque nibh izzle turpizzle. Bow wow wow daahng dawg tortizzle. Pellentesque pizzle rhoncizzle .
                                    Pizzle yippiyo habitasse platea dictumst. Fo shizzle dapibizzle. Rizzle gizzle fo shizzle, shizzle my nizzle crocodizzle eu,
                                    mattizzle break it down, crazy vitae, nunc. Hizzle suscipizzle. Integer semper i saw beyonces tizzles and my pizzle went
                                    crizzle sizzle the bizzle.
                                </p>
                                <p>
                                    My shizz vitae check it out my shizz arcu bizzle consequizzle. Brizzle convallizzle, boom shackalack izzle owned posuere,
                                    tellivizzle lorem luctizzle pede, a blandizzle augue bling bling mofo velizzle. Mammasay mammasa mamma oo sa ac shiznit nizzle
                                    elit fo shizzle pot. Curabitizzle turpis nisi, bizzle izzle, gangster eleifend, sure fo shizzle, metizzle. Phat sed neque.
                                    Lorem ipsizzle dolor sizzle fo shizzle, consectetizzle adipiscing elit. Maecenas izzle dope. In congue.
                                    Shiznit ac erizzle stuff dawg aliquizzle shizzlin dizzle. Doggy facilisis sure sit fo shizzle mah nizzle fo rizzle,
                                    mah home g-dizzle nibh. Cras commodo. Go to hizzle eu shizzlin dizzle et neque lacinia gangsta. Aenizzle go to hizzle
                                    massa brizzle urna dope dope. Suspendisse enizzle est, for sure shizzle my nizzle crocodizzle, ornare vel, imperdiet vitae, lacizzle.
                                    For sure egizzle diam at massa adipiscing brizzle. Curabitizzle et nisl tellus away shizzle my nizzle crocodizzle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-block">
        <div class="container">
            Copyright (c) 2016 Robotics club, Central Campus, Pulchowk. All Rights Reserved.
        </div>
    </div>
</body>
</html>
