<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Robocup 2016: Admin panel</title>
    {% include 'inc.html' %}
    <link rel="stylesheet" type="text/css" href="{% url 'css/admin.css' %}">

    <script>
        function delete_faq(id) {
            if (window.confirm("Are you sure you want to delete this faq?")) {
                $("#faq_id").val(id);
                $("#deleteForm").submit();
            }
        }
    </script>
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <form method="post">
                    <input class="btn btn-default" type="submit" name="logout" value="Logout">
                </form>
            </div>

        </div>
    </div>

    <div id="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-wrapper">
                        <div class="title">FAQs</div>
                        <form method="post">
                        {% $i = 1 %}
                        {% foreach $faqs as $faq %}
                            <div class="faq">
                                <div class="row">
                                    <div class="sn col-md-9">Question #{{$i}}</div>
                                    <input class="btn btn-danger col-md-2" value="Delete" onclick="delete_faq({{$faq->id}});">
                                </div>
                                <textarea class="question" name="faq-qn-{{$faq->id}}" rows="1">{{$faq->question}}</textarea>
                                <textarea class="answer" name="faq-ans-{{$faq->id}}" rows="4" >{{$faq->answer}}</textarea>
                            </div>
                            {% $i++ %}
                        {% endfor %}
                            <div class="faq">
                                <div class="sn">Add new question</div>
                                <textarea class="question" name="faq-qn--1" rows="1" placeholder="Question" ></textarea>
                                <textarea class="answer" name="faq-ans--1" rows="4" placeholder="Answer"></textarea>
                            </div>
                            <input class="btn btn-default" type="submit" name="savefaq" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form style="visible:hidden;" method="post" id="deleteForm">
        <input type="hidden" name="deletefaq">
        <input type="hidden" name="faq_id" value="-1" id="faq_id">
    </form>

    {% include 'footer.html' %}
</body>
