<html>
<head>
    <title>Robocup 2016</title>
    {% include 'inc.html' %}
    <link rel="stylesheet" type="text/css" href="{% url 'css/faqs.css' %}">
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="{% url '' %}">Home</a>
            </div>
            <div class="title">IoE Robocon 2016</div>
            <div class="extra">Journey to Mustang</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="col-md-8">
                <div class="page-title title">
                    Frequently Asked Questions (FAQs)
                </div>
                <div class="faqs">
                    {% foreach $faqs as $faq %}
                    <div class="faq">
                        <div class="question">
                            {{ $faq->question }}
                        </div>
                        <div class="answer">
                            {{ $faq->answer }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-wrapper">
                    <div class="title">
                        Ask a question
                    </div>
                    <form>
                        <input name="email" type="email" placeholder="your email">
                        <textarea name="query" placeholder="your question" rows="4"></textarea>
                        <input class="btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
